<div class="img">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="heading"> Hotel</span>
    <span class="spacer"></span>
    <button (click)="journey('admin')" mat-raised-button color="accent">Admin</button>&nbsp;
    <button (click)="journey('user')" mat-raised-button color="accent">User</button>&nbsp;
    <button (click)="journey('owner')" mat-raised-button color="accent">Owner</button>&nbsp;
    <button (click)="journey('logout')" mat-raised-button color="accent">Logout</button>&nbsp;
  </mat-toolbar>
</div>