<br>
<div class="container">
    <div>
        <form [formGroup]="hotelRegistrationForm" class="div-form">
            <h2 class="heading"> Hotel Registration....</h2>
            &nbsp;
            <mat-form-field class="form-field1">
                <mat-label>Hotel Name</mat-label>
                <input class="input" matInput formControlName="hotelName">
                <mat-hint *ngIf="!hotelRegistrationForm.get('hotelName')?.touched">Enter hotel name here</mat-hint>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelName')?.errors?.['required']">this field is
                    required</mat-error>
                <mat-error
                    *ngIf="!hotelRegistrationForm.get('hotelName')?.errors?.['pattern'] && hotelRegistrationForm.get('hotelName')?.errors?.['minlength']">min
                    5 character are required </mat-error>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelName')?.errors?.['pattern']">pattern is not
                    match</mat-error>
            </mat-form-field>&nbsp;

            <mat-form-field class="form-field">
                <mat-label>Hotel Contact</mat-label>
                <input type="tel" class="input" matInput matInput placeholder="555-555-1234"
                    formControlName="hotelContact">
                <mat-hint *ngIf="!hotelRegistrationForm.get('hotelContact')?.touched">Enter hotel contact
                    here</mat-hint>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelContact')?.errors?.['required']">this field is
                    required</mat-error>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelContact')?.errors?.['pattern']">accept integers
                    only</mat-error>

            </mat-form-field><br>&nbsp;

            <mat-form-field class="full-width">
                <mat-label>Hotel Address</mat-label>
                <textarea matInput formControlName="hotelAddress">
                    <mat-hint *ngIf="!hotelRegistrationForm.get('hotelAddress')?.touched">Enter hotel address
                        here</mat-hint>
                    <mat-error *ngIf="hotelRegistrationForm.get('hotelAddress')?.errors?.['required']">this field is
                        required</mat-error>
                    <mat-error
                        *ngIf="!hotelRegistrationForm.get('hotelAddress')?.errors?.['pattern'] && hotelRegistrationForm.get('hotelAddress')?.errors?.['minlength']">min
                        5 character are required </mat-error>
                    <mat-error *ngIf="hotelRegistrationForm.get('hotelAddress')?.errors?.['pattern']">pattern is not
                        match</mat-error>
                </textarea>
            </mat-form-field>
            <br>&nbsp;

            <mat-form-field class="form-field">
                <mat-label>Hotel Menu</mat-label>
                <input class="input" matInput formControlName="hotelMenu">
                <mat-hint *ngIf="!hotelRegistrationForm.get('hotelMenu')?.touched">Enter hotel menu here</mat-hint>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelMenu')?.errors?.['required']">this field is
                    required</mat-error>
                <mat-error
                    *ngIf="!hotelRegistrationForm.get('hotelMenu')?.errors?.['pattern'] && hotelRegistrationForm.get('hotelMenu')?.errors?.['minlength']">min
                    2 character are required </mat-error>
                <mat-error *ngIf="hotelRegistrationForm.get('hotelMenu')?.errors?.['pattern']">pattern is not
                    match</mat-error>
            </mat-form-field>&nbsp;

            <!-- <mat-form-field class="form-field">
                <mat-label>Rooms Available</mat-label>
                <input class="input" matInput formControlName="roomsAvailable">
                <mat-hint *ngIf="!hotelRegistrationForm.get('roomsAvailable')?.touched">Enter rooms availabilty
                    here</mat-hint>
                <mat-error *ngIf="hotelRegistrationForm.get('roomsAvailable')?.errors?.['required']">this field is
                    required</mat-error>

            </mat-form-field><br>&nbsp; -->

            <mat-form-field class="form-field">
                <mat-label>Rooms Available</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="roomsAvailable"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            &nbsp;

            <mat-form-field>
                <mat-label>Choose check-in date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;

            <mat-form-field>
                <mat-label>Choose check-out date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field><br><br><br>
            <div class="button">
                <button mat-raised-button color="primary" (click)="submitDetails()">Submit Details </button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="back()">back </button>
            </div>

        </form>
    </div>
</div>